/*font-family: 'Permanent Marker', cursive;
font-family: "Poppins", sans-serif; */
:root {
  --branding-color: #c8f1f1;
  --main-color: #113f67;
  --secundary-color: #2a6aa2;
  --font-color: #212121;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}
body {
  font-family: var(--default-font-family);
}
.hero {
  background-color: var(--branding-color);
  text-align: center;
  padding: 160px 20px;
}
.hero p {
  font-size: 35px;
  font-weight: bold;
  margin: 0;
  color: var(--font-color);
}
.btn-branding {
  background: var(--secundary-color);
  padding: 15px 30px;
  color: var(--branding-color);
  font-size: 18px;
  text-decoration: none;
  border-radius: 4px;
}
h1 {
  font-family: var(--heading-font-family);
  color: var(--font-color);
  font-size: 100px;
  font-weight: bold;
}
h2 {
  font-family: var(--default-font-family);
  line-height: 2;
  font: size 24px;
  font-weight: normal;
}
